*{
    margin:0;
    /* background-color: #C2CAD0; */

    
}


.container{
    display:grid;
    grid-template-rows: 150px auto;
    background-color: #C2CAD0;
    height: 100vh;
    
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #AFD275;

}

.home{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    border: 1px solid  #7E685A;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: #E7717D;
}

#player1{
    margin-bottom: 20px;
    font-weight: bold;
}

#player2{
    font-weight: bold;
}

.form label{
    font-weight: bold;
    margin-bottom: 5px;
}

#start{
    border-radius: 5px;
    font-size: 15px;
    background-color: #AFD275;
    box-shadow: none;
    width: 120px;
    border: 1px solid #C2CAD0;
    cursor: pointer;
}

#start:hover{
    background-color:#89CFF0 ;
}


.main{
    display:flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.display{
    height: 80px;
    width: 300px;

    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 35px;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    text-align: center;
    gap: 10px;
}

